[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
anchor_amm = "FWS4nCkyRQhov3dZkJkbia3dzr49UvsobQtFAgrde2Ck"

[programs.devnet]
anchor_amm = "FWS4nCkyRQhov3dZkJkbia3dzr49UvsobQtFAgrde2Ck"


[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""